<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="icon" type="image/png" href="/img/logo.png" />
  
  <script src="https://use.fontawesome.com/cce49c68d9.js"></script>
  
  
  <script src="https://use.fontawesome.com/cce49c68d9.js"></script>
  
  <title>Symphony Operating System</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style type="text/css">
    .brand-logo {
      font-family: 'Raleway', sans-serif;
    }
    .brand-logo img {
      width:48px;
      height:48px;
      margin-right:-8px;
    }
    .screenshot {
      box-shadow: 5px 5px 5px #333;
      max-width:800px;
    }
    
    .fh {
      height:100%;
    }
    
    .fa-github-square {
      padding-top:-15px;
      margin-right:15px;
    }
    .sidebar1 {
      height:100%;
      padding:0px;
      margin:0px;
    }
    .sbi {
      height:50px;
      text-align:center;
      border-bottom:1px solid #CCC;
    }
  </style>
</head>
<body>
  <nav class="red accent-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="img/logo.png" align="absmiddle">symphony</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Download</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Download</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>



<div class="section no-pad-bot fh grey darken-2" id="index-banner">
  
  
  <div class="row">
    <div class="col s1 grey darken-4 white-text sidebar1">
      <div class="row">
        <div class="col s12 sbi">Applications</div>
        <div class="col s12 sbi">Games</div>
        <div class="col s12 sbi">Movies</div>
        <div class="col s12 sbi">Shows</div>
        <div class="col s12 sbi">Books</div>
      </div>
    </div>
    <div class="col s11 grey darken-2 white-text">
      
    </div>
  </div>   

</div>


 

  <footer class="page-footer grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">about symphony</h5>
          <p class="grey-text text-lighten-4">The Symphony Operating System is a small project wokring on creating a clean and engaging desktop experience.  Using lightweight applications and an HTML5 menu system, symphony aims to be easy and unobtrusive.</p>


        </div>
        <div class="col l3 offset-l3 s12">
          <h5 class="white-text">community</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/symphonyos">@symphonyos</a></li>
            <li><a class="white-text" href="https://facebook.com/symphonyos">facebook.com/symphonyos</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright grey darken-4">
      <div class="container">
      &copy 2004-2016 <a class="grey-text text-lighten-3" href="#">The SymphonyOS Project</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
